<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipo.code %>
</p>

<p>
  <strong>Fraccion:</strong>
  <%= @tipo.fraccion %>
</p>

<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<%= link_to 'Back', tipos_path %>
