%img(src="https://cimav.edu.mx/wp-content/themes/cimav2017/img/logo-top.png" )

%h2 Solicitud de Cotización
%h4 Fecha: #{@justificacion.created_at.to_s(:short)}

%div
  %span A quien corresponda:
  %strong #{@proveedor.razon_social},
  %br
  %strong #{@proveedor.contacto},
  %br
  %br
  %span El
  %strong Cimav
  %span requiere.....
  %br
  %br
  %span Se agradece....:

  %br
  %span Responder el correo a:
  %strong #{@justificacion.elaboro.nombre}
  %span remitirlo al correo
  %strong #{@justificacion.elaboro.cuenta_cimav}@cimav.edu.mx


%br
%br
= "Departamento de Adquisiciones"
%br
= "Centro de Investigación en Materiales Avanzados, S.C"
%br
