%img(src="https://cimav.edu.mx/wp-content/themes/cimav2017/img/logo-top.png" )

%h2 Solicitud de Cotización
%h4
  %span Fecha:
  %span{:style=>'background: yellow;'} #{@justificacion.created_at.strftime("%d-%b-%G")}

%span A quien corresponda:
%br
%br
%strong #{@proveedor.razon_social},
%br
%strong #{@proveedor.contacto}
%br
%br
El
%strong CIMAV,
como Centro de Investigación del Gobierno Federal, requiere su valioso apoyo a efecto de proporcionarnos la cotización de los bienes y/o servicios y/o arrendamientos descritos en la última hoja de este documentos anexos.
%br
%br
Favor de cotizar el formato anexo de la siguiente manera:
%ul
  %li Su cotización debe contener la descripción solicitada con precios antes y después de iva.
  %li Especificar  la fecha de entrega ,condiciones de pago , vigencia y flete según sea el caso.
  %li La cotización deberá estar firmada.
%br
El
%strong CIMAV
agradece sus servicios y atención
%br
%p
  %span Favor de remitir a:
  %strong #{@justificacion.elaboro.nombre} #{@justificacion.elaboro.cuenta_cimav}@cimav.edu.mx

%p
  %span FECHA LÍMITE PARA COTIZAR ES:
  %strong{:style=>'background: yellow;'} #{@justificacion.fecha_cotizar.strftime("%d-%b-%G")}
